.passwordField {
  position: relative;
}

.eyeButton {
  all: unset;
  cursor: pointer;
  display: block;
  position: absolute;
  right: var(--space-300);
  top: 0.8rem;
  z-index: 10;
  width: 2.2rem;
  height: 2.2rem;
  color: var(--gray-200);
  &:hover {
    color: var(--gray-400);
  }
}
