@use '../../styles/typography.scss' as *;

.loginContainer {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: var(--space-1200);
}

.loginHeader {
  text-align: center;
  h1 {
    @include large;
    margin-bottom: var(--space-500);
  }
  p {
    color: var(--gray-800);
    @include xSmall;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-850);
}

.signInButton {
  margin-top: var(--space-800);
}

.signUpLink {
  margin-top: var(--space-600);
  text-align: center;
  color: var(--gray-500);
  @include xSmall;
  a {
    color: var(--gray-800);
    text-decoration: none;
    &:hover {
      color: var(--text-400);
    }
  }
}
