@use '../../styles/typography.scss' as *;
@use '../../styles/breakpoints.scss' as *;

.loginContainer {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: var(--space-1200);
  @include tablet {
    width: 100%;
    max-width: 48rem;
    margin-top: 0;
  }
}

.loginHeader {
  text-align: center;
  h1 {
    @include large;
    margin-bottom: var(--space-500);
  }
  p {
    color: var(--gray-800);
    @include xSmall;
  }
  @include tablet {
    h1 {
      @include xLarge;
      margin-bottom: var(--space-500);
    }
    p {
      @include medium;
    }
    text-align: left;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-850);
  @include tablet {
    align-items: flex-start;
  }
}

.signInButton {
  margin-top: var(--space-800);
  @include tablet {
    margin-top: var(--space-1000);
  }
}

.signUpLink {
  margin-top: var(--space-600);
  text-align: center;
  color: var(--gray-500);
  @include xSmall;
  a {
    color: var(--gray-800);
    text-decoration: none;
    &:hover {
      color: var(--text-400);
    }
  }
  @include tablet {
    display: none;
  }
}
